[2016-07-10 00:11] gotoplanb opened #1 "Move web code form business repo into the business-web repo"

[2016-08-06 23:12] Bjorn248 opened #3 "Add Architecture Image to Repo"
![business_portal_architecture](https://cloud.githubusercontent.com/assets/1063707/17459516/b22d5afa-5c09-11e6-8b37-dce38b9515ce.png)

[2016-08-06 23:12] #3 closed, assigned to nobody

[2016-09-15 22:20] Bjorn248 opened #11 "Make type structs flexible so that new business types can be added"
BusinessType should have three required fields but allow other fields as well. See README.md for the 3 required fields.

[2016-09-16 22:35] Bjorn248 opened #12 "Clean up data in Socrata"
@ambercabrera @samanthawolfe let's get together during the next meeting and knock this out

The main items for me are as follows
1. Make column titles in business types table the "permit_name". The friendly name is stored in the permits table, Socrata does the transformation right now so let's just make the column title what we'll be consuming anyway to avoid duplication and confusion. The column

[2016-09-20 14:16] Bjorn248 commented on #11
This is handled by [https://github.com/c4gnv/business-web/pull/13](https://github.com/c4gnv/business-web/pull/13)

[2016-09-20 14:16] #11 closed, assigned to nobody

[2016-09-20 20:24] Bjorn248 opened #14 "Greater "Portal" UX"
Find Dave's picture below

![start-a-business](https://cloud.githubusercontent.com/assets/1063707/18687551/9afaa9e2-7f4e-11e6-9b40-d91a7e6d0c32.jpg)

[2016-09-21 16:44] Bjorn248 opened #15 "Evaluate existing data structure returned by service layer"
Currently it is a `BusinessCategory[]` but if we are required to do lookups on categories to get business types, or business types to get permits, we will have to change the data structure to an object where the keys are the names of business categories, types, and permit names and the values are objects whose keys are the values we want returned.

Another option would be to add a function that ta

[2016-09-21 22:31] ragafoo commented on #15
worked a bit more on the the learning styling and animations in angular2, I think the BusinessListComponent is fine for the front end https://github.com/ragafoo/business-web/tree/frontend_start

[2016-10-04 22:46] Bjorn248 commented on #15
Yep, reviewed with @ajcrites and it's fine, for now.

[2016-10-04 22:46] #15 closed, assigned to Bjorn248, jgardner34

[2016-10-04 22:47] Bjorn248 commented on #1
This seems closed, can always re-open later.

[2016-10-04 22:47] #1 closed, assigned to likethemammal

[2016-10-04 22:55] Bjorn248 opened #16 "As a user, when I click on a business category, I want to see a list of associated business types"
e.g. When I click on `Manufacturing` I want to see `Brewery, Microbrewery and IPA` as it is a business type of that category. Keep in mind the data structure returned by the service layer is given in the sample json here: https://gist.github.com/ajcrites/529279f9fc29aef46e1a1480c7c16385

[2016-10-04 23:42] Bjorn248 opened #18 "As a user, when I click on a business type, I want to see a list of permits for that business type"
The business type text should be clickable (set state to selected) so that if it is clicked it will display a list of permits, both the friendly name and the URL. If the business type is clicked again (set state to unselected), the permits for that business type should not be displayed.

[2016-10-05 00:28] Bjorn248 opened #20 "Make issue template only show up when bug is added as a label (is this possible?)"
We don't want the bug template to show up for all work that we do because issues are also used to track features/general work.

[2016-10-05 00:30] hollymariegibbs opened #21 "Homepage Design"
Design the Business Permit portal homepage

**Notes:**
- Business Permit Locator (single page)
- Business Categories
- Business Types
- Permits

Category List > Business Type > Permit List

Permits have the following data:
- Friendly name
- URL
- Download or view capability

[2016-10-05 00:32] hollymariegibbs opened #22 "Search Results page design"
Search
- Results filtered into sections: Category, Type, Permit name

[2016-10-05 00:42] Bjorn248 opened #23 "Document Design Contributions Guidelines"
I suppose wait for Nathaniel's PR to be merged so CONTRIBUTING.md is in root, but add the contribution guidelines that designers should follow for this project.

[2016-10-05 01:46] Bjorn248 commented on #12
Also, we need more permits in the permits table, as right now there are only 3. Just adding it to this ticket so it is not forgotten.

[2016-10-05 03:06] Bjorn248 opened #25 "Add commit message guidelines to CONTRIBUTING. md"
We have guidelines for feature branches but not commit messages. Add the standard to start the message with a reference to the issue # in the commit message.

[2016-10-05 15:10] #25 closed, assigned to Bjorn248

[2016-10-05 15:20] hollymariegibbs commented on #23
Done and merged.

[2016-10-05 15:20] #23 closed, assigned to hollymariegibbs

[2016-10-18 14:54] ghost commented on #20
As far as I can tell, it's all or nothing. The docs are here: https://help.github.com/articles/helping-people-contribute-to-your-project/. I would suggest we remove the template if it's going to be a nuisance.

[2016-10-20 00:18] ambercabrera commented on #12
A quick update... the permit table is complete and can find it here - https://data.cityofgainesville.org/Economic-Development-Redevelopment/Permit-Table/pmwr-qvc6

Next thing to do is to update the names in the business types table. I'll finish that at the next event or before then. Almost done!

[2016-10-20 14:51] Bjorn248 commented on #20
Perhaps the template should just be modified to make it clear that it should only be used for new bug reports? I still feel like it contains useful information that shouldn't just be thrown out.

[2016-10-26 01:17] hollymariegibbs commented on #21
Comps are here: https://www.dropbox.com/s/86f7walarvqrp2a/Search%20Results.png?dl=0

@Bjorn248 & @ragafoo can you please review and let me know if you need me to make any changes before I generate the specs?

[2016-10-26 15:13] hollymariegibbs commented on #21
Maybe @gotoplanb can also take a look? Pretty please <3

[2016-10-26 15:32] Bjorn248 commented on #21
Seems fine to my untrained eye :p

[2016-10-28 14:54] ragafoo commented on #21
This looks Great! thanks so much, i'm gonna start implementing this and then we can do some iteration from there.  Any objections?

[2016-10-28 14:59] samanthawolfe commented on #21
Here are some additional graphics designed by IDEO, which may be helpful. Specifically, the planning department is being reorg'd as the "Department of Doing" and using the new logo.
https://www.dropbox.com/sh/xvlithxnpkwxvqi/AACOxkQHKU-9_rzxNRhPnqNZa?dl=0
https://www.dropbox.com/sh/xvlithxnpkwxvqi/AABtG8Ew0hXnD2s-_7adoZTna/04%20-%20Deliverables/02%20Branding%20Assets/Logo?dl=0

[2016-10-28 15:03] hollymariegibbs commented on #21
@ragafoo let me know when you're ready for assets; I can put together a folder for you

[2016-10-28 15:16] ragafoo commented on #21
Excellent, the next PR will have an assets/media folder, I'll use place holders and/or create some stuff in photoshop/illustrator based on your designs.

[2016-10-28 17:29] hollymariegibbs commented on #21
@Ragafoo sketch file is here :) https://www.dropbox.com/s/yrmoyoxj0jzj6xr/business-portal.sketch?dl=0

[2016-10-31 16:40] hollymariegibbs commented on #22
Comp is here: https://www.dropbox.com/s/86f7walarvqrp2a/Search%20Results.png?dl=0

[2016-10-31 16:41] #22 closed, assigned to hollymariegibbs

[2016-10-31 16:41] #21 closed, assigned to hollymariegibbs

[2016-10-31 16:43] hollymariegibbs opened #31 "Department of Doing integration"
From @samanthawolfe:

Please let us know where we need to integrate this new content

[2016-10-31 16:45] hollymariegibbs opened #32 "Create a list of resources, link, sponsors, etc. to be included on site"
We need a final + approved list of all businesses and organizations to link to from the Business Portal site, as well as any other information that needs to be included. The content in the footer is basically a compilation of things I found around existing sites and sample sites and was cobbled together.

[2016-11-01 14:29] Bjorn248 opened #33 "As a user, when I input text into the search bar I want to see a list of business types and permits related to my search"
This is a simple tag/word based search, such that a single word/tag match from the search text field will display a business type or permit related to that word/tag.

[2016-11-01 22:55] hollymariegibbs commented on #21
Homepage comp is here: https://www.dropbox.com/s/b4vcpak4dvqjux8/Home.png?dl=0

[2016-11-01 23:15] jgardner34 opened #34 "Add title and favicon"
Update the title and the favicon to be Permit Locator specific.

[2016-11-01 23:17] jgardner34 opened #35 "Remove unused components"
There's still some code shrapnel from the starter template that needs to be removed.

[2016-11-01 23:19] ghost opened #36 "Style header"
Refer to comps:
https://www.dropbox.com/s/b4vcpak4dvqjux8/Home.png?dl=0
https://www.dropbox.com/s/86f7walarvqrp2a/Search%20Results.png?dl=0

[2016-11-01 23:19] ghost opened #37 "Style body"
Refer to comps:
https://www.dropbox.com/s/b4vcpak4dvqjux8/Home.png?dl=0
https://www.dropbox.com/s/86f7walarvqrp2a/Search%20Results.png?dl=0

[2016-11-01 23:19] ghost opened #38 "Style footer"
Refer to comps:
https://www.dropbox.com/s/b4vcpak4dvqjux8/Home.png?dl=0
https://www.dropbox.com/s/86f7walarvqrp2a/Search%20Results.png?dl=0

[2016-11-01 23:21] hollymariegibbs opened #39 "export assets for header"
export images and icons for header section of the site

[2016-11-01 23:22] hollymariegibbs opened #40 "export assets for body of site"
export images and icons for the body of the permit locator

[2016-11-01 23:23] hollymariegibbs opened #41 "export assets for footer"
export images and icons for the footer of the site

[2016-11-01 23:23] ghost opened #42 "As a user, I want to filter my results by category"
Possible filters:
- Business category
- Business type
- Permit type

Refer to comps:
https://www.dropbox.com/s/b4vcpak4dvqjux8/Home.png?dl=0
https://www.dropbox.com/s/86f7walarvqrp2a/Search%20Results.png?dl=0

[2016-11-01 23:27] ghost opened #43 "Move to stable Angular, Typescript, etc."

[2016-11-01 23:31] samanthawolfe commented on #31
@hollymariegibbs Ideas for incorporating:
1. Large logo incorporated onto homepage/search page banner on top of yellow background
   - To right of search box
   - In place of pencils
2. Small logo with text, “Ready to take your first step?” in top of header (replace About, Contact)
   - Link to set-up first step meeting with city http://www.cityofgainesville.org/PlanningDepartment/FirstStepAssista

[2016-11-01 23:44] samanthawolfe commented on #31
This is a great recent article. The use of language around the DoD may also be helpful. https://www.fastcodesign.com/3065107/slicker-city/how-one-florida-city-is-reinventing-itself-with-ux-design

"It will be a physical office, a one-stop shop for obtaining all the permits needed to open a business or develop real estate, as well as a web platform (both of which are still under development). The o

[2016-11-02 00:06] samanthawolfe commented on #32
- [x] New text above search box

GNV is open for business!
Locate permits, licenses, and forms by searching or filtering below.
- [x] Edit "Permits" header

Forms To Launch Your Business
- [ ] New City logo in footer

![ideo blue city gnv_logo converted](https://cloud.githubusercontent.com/assets/19419412/19912138/c3b7e232-a06e-11e6-9782-9056430e8d11.jpg)
- [x] More Assistance in footer

Departmen

[2016-11-02 00:15] samanthawolfe commented on #32
- [ ] More Assistance in footer

Department of Doing - Use same "one-stop" type-text from next steps section...
http://www.cityofgainesville.org/PlanningDepartment.aspx

Research & Plan Your Business
https://business.usa.gov/

Connect With Local Economic Development Assistance
http://www.cityofgainesville.org/EconomicDevelopmentandInnovation.aspx

[2016-11-02 17:19] hollymariegibbs opened #46 "Add Holly as Meetup organizer"
I need access to our brigade's meetup account so I can integrate some Slack apps, as well as continue to post events for the group

[2016-11-02 17:30] #46 closed, assigned to ambercabrera

[2016-11-04 02:38] Bjorn248 commented on #42
Duplicate of #33 ?

[2016-11-04 02:40] Bjorn248 commented on #35
Is this addressed by #45?

[2016-11-04 02:42] ghost commented on #42
Maybe? This is about the `Refine Your Results` area to the left of the search results.

[2016-11-04 03:15] hollymariegibbs opened #48 "Add web fonts and font styles"

[2016-11-04 14:40] Bjorn248 opened #51 "Create AWS Account for Hosting"
Need an S3 bucket for the website and for static assets. This is not a free service, but it is very cheap ~$0.03/month for the amount of data we will be storing.

[2016-11-04 14:42] Bjorn248 commented on #51
Will have to coordinate with the city employees to figure out billing.

[2016-11-05 08:51] moqri opened #52 "Search does not do anything!"
## Steps to Reproduce
1. Follow the setup instruction
2. npm start
3. open http://localhost:8080/
4. type "retail" in the search box
5. press enter

## Expected Behavior
Showing some results or logging something on the browser console

## Actual Behavior
Nothing happens!

[2016-11-05 23:46] moqri commented on #52
Installation warnings:
npm WARN angular2-in-memory-web-api@0.0.21 requires a peer of reflect-metadata@^0.1.3 but none was installed.
npm WARN angular2-in-memory-web-api@0.0.21 requires a peer of rxjs@5.0.0-beta.12 but none was installed.
npm WARN @angular/http@2.1.2 requires a peer of rxjs@5.0.0-beta.12 but none was installed.
npm WARN @angular/router@3.1.2 requires a peer of rxjs@5.0.0-beta.12 bu

[2016-11-05 23:59] moqri commented on #52
npm start error messages:
ERROR in business-web/node_modules/rxjs/observable/dom/AjaxObservable.d.ts
(1,1): error TS2688: Cannot find type definition file for 'chai'.

ERROR in business-web/node_modules/rxjs/observable/PairsObservable.d.ts
(1,1): error TS2688: Cannot find type definition file for 'chai'.

Fixed this errors using https://github.com/apollostack/apollo-client/issues/725 but still the

[2016-11-07 14:16] Bjorn248 commented on #52
Thanks for the report! I do believe the search function has not been implemented yet, so for now, this is behaving as expected. #33 should track its implementation.

[2016-11-07 20:05] Bjorn248 opened #53 "Create Data Caching Layer"
This is to reduce our dependency on the availability of Socrata. We know that they have regular maintenance periods and do not want our permit locator to be unavailable while Socrata is down. Additionally, we're doing a lot of data transformation in the browser right now. We could easily move this to Lambda and run the ETL on a schedule (every 10 minutes for example) that generates a json file tha

[2016-11-08 18:14] Bjorn248 opened #54 "Add automated build/deploy using travis"
This story only becomes relevant once we have decided where to host the website, but basically the process should be as simple as "npm run build" and then putting the files in an S3 bucket or pushing them to the `gh-pages` branch. Getting permissions sorted for travis also becomes a concern. We might want to create a "build" user on github, unless we can use repository deploy keys with travis.

Ad

[2016-11-08 18:15] Bjorn248 opened #55 "Add unit tests"
The repo doesn't have any tests, but adding unit tests that get run whenever a PR is submitted would be ideal. It should gate the PR from being merged. That's more of a long term goal, after the unit tests have been written for the current state of the repo.

[2016-11-09 15:04] ajcrites commented on #43
Closing issue as #45 was merged

[2016-11-09 15:04] #43 closed, assigned to nobody

[2016-11-09 23:27] #48 closed, assigned to hollymariegibbs

[2016-11-09 23:27] #41 closed, assigned to hollymariegibbs

[2016-11-09 23:27] Bjorn248 commented on #53
This can be postponed to v2, not required for initial release.

[2016-11-09 23:28] #40 closed, assigned to hollymariegibbs

[2016-11-09 23:28] #39 closed, assigned to hollymariegibbs

[2016-11-09 23:46] ajcrites commented on #16
Is this done?

[2016-11-09 23:46] ajcrites commented on #18
Is this done?

[2016-11-09 23:47] ajcrites commented on #35
#56 should complete this.

[2016-11-09 23:50] ajcrites commented on #52
Closing. This will be addressed by #33

[2016-11-09 23:50] #52 closed, assigned to nobody

[2016-11-09 23:52] jgardner34 commented on #35
This looks good now

[2016-11-09 23:54] ajcrites opened #57 "Update documentation to suggest `yarn` for installation"

[2016-11-10 00:20] ajcrites opened #59 "Remove unnecessary `data` directory"
The `data` directory in the repository is not used / needed. Any documents used for documentation will be stored separately from the repo.

[2016-11-10 00:49] samanthawolfe commented on #31
Good placeholder header (First Steps) and descriptive text. PDS staff will be taking on a design sprint challenge to rebrand the meeting name/title and how it's communicated to the community. Our goal is to deliver by end of year, so timing will be good!

[2016-11-10 05:38] Bjorn248 commented on #18
I believe it is.

[2016-11-10 05:38] #18 closed, assigned to ragafoo

[2016-11-10 15:30] #16 closed, assigned to ragafoo

[2016-11-10 18:55] Bjorn248 opened #64 "Bug: Site redirects to /businesstypes and on refresh does not load properly"
## Steps to Reproduce

1. Navigate to [http://business-dev.c4gnv.com.s3-website-us-east-1.amazonaws.com/](http://business-dev.c4gnv.com.s3-website-us-east-1.amazonaws.com/)
2. Refresh the page

## Expected Behavior

Website continues to work

## Actual Behavior

Website 404s because the route being served is not being handled properly

This likely has to do with how routes are being handled by ang

[2016-11-10 18:55] Bjorn248 commented on #64
I think @samanthawolfe might be a good person to ask for feedback here. What should the route be? Or should the permit locator/site be at the web root i.e. `/`

[2016-11-10 19:01] Bjorn248 opened #65 "Bug: 404 on node module URL"
## Steps to Reproduce
Navigate to [http://business-dev.c4gnv.com.s3-website-us-east-1.amazonaws.com/](http://business-dev.c4gnv.com.s3-website-us-east-1.amazonaws.com/)
1. Open Chrome dev tools
2. Notice that there is a 404 for [http://business-dev.c4gnv.com.s3-website-us-east-1.amazonaws.com/node_modules/core-js/client/shim.min.js](http://business-dev.c4gnv.com.s3-website-us-east-1.amazonaws.com/

[2016-11-10 22:08] #57 closed, assigned to ajcrites

[2016-11-10 22:08] #54 closed, assigned to nobody

[2016-11-10 22:11] Bjorn248 commented on #35
Looks like we've still got some extra node modules. I'll submit a PR shortly.

[2016-11-11 02:29] Bjorn248 commented on #35
Resolved

[2016-11-11 02:29] #35 closed, assigned to jgardner34

[2016-11-11 04:13] hollymariegibbs commented on #31
"The Department of Doing provides a convenient, one-stop location where you can submit permits and forms, learn more about starting a business, ask questions and receive support. The office staffs employees that are actionable guides who help you throughout the process."

[2016-11-14 16:15] Bjorn248 commented on #64
Just going to make it all live at `/` for now.

[2016-11-16 18:35] Bjorn248 opened #69 "Add cache meta tag to index.html template"
See [https://stackoverflow.com/questions/13321335/load-index-html-every-time-from-the-server-and-not-from-cache](https://stackoverflow.com/questions/13321335/load-index-html-every-time-from-the-server-and-not-from-cache) for reference. This is just to add `<meta http-equiv="expires" content="0">` to index.html so the browser always gets the latest one from the server. The rest of the files have ha

[2016-11-17 15:47] Bjorn248 commented on #65
This is still an issue...will have to investigate further.

[2016-11-17 21:33] Bjorn248 opened #71 "Investigate/upgrade to webpack 2"
The current webpack configuration is not compatible with webpack 2, which is currently in beta. This is to get the project ready for webpack 2.

[2016-11-17 21:34] #64 closed, assigned to nobody

[2016-11-17 22:52] Bjorn248 opened #73 "Make travis build use yarn"
Let's use yarn install instead of npm to do travis builds

[2016-11-17 23:11] Bjorn248 commented on #65
This is resolved by #72

[2016-11-17 23:11] #65 closed, assigned to nobody

[2016-11-21 18:22] samanthawolfe commented on #51
@Bjorn248 Per our last convo, is the first comment what is still needed from our end?

[2016-11-21 18:24] samanthawolfe commented on #31
@hollymariegibbs Very nice! Can we conclude with a call to action of setting up a next steps appt to (1) review/submit docs/permits and (2) review zoning options?

[2016-11-21 22:27] Bjorn248 commented on #51
@samanthawolfe for now we're using my AWS account. I still have credits on there so I'm not paying anything, but for "production launch" I'd like for it to be something that you guys are more involved with. [aws.amazon.com/free](aws.amazon.com/free) should get you started. Have you had a chance to look at the S3 hosted site? The URL is in the README of the repo now, which is displayed on the githu

[2016-11-25 08:34] #71 closed, assigned to nobody

[2016-11-25 08:34] #69 closed, assigned to nobody

[2016-11-25 08:34] #73 closed, assigned to nobody

[2016-11-29 20:41] samanthawolfe commented on #51
This is in process. I'll let you know of any additional info needed from our IT. Yes, I've reviewed the site and have a few questions & comments. Should I post here @Bjorn248 or create an issue?

[2016-11-29 20:52] Bjorn248 commented on #51
Unless the comment is related to AWS Account creation you should create another issue.

[2016-11-29 23:18] samanthawolfe commented on #42
When filtering, Business Types should fall under specific Business Category. Instead, Types are falling to bottom of entire Category list.
![image](https://cloud.githubusercontent.com/assets/19419412/20733225/3371e922-b660-11e6-9cfa-1e9113cbe62f.png)

[2016-11-29 23:56] Bjorn248 opened #76 "Cursor hover over a link does not change into hand"
## Steps to Reproduce

1. Hover cursor over business category clickable button

## Expected Behavior

Cursor should turn into hand to indicate cursor over URL

## Actual Behavior

Cursor turns into text input icon

[2016-11-30 00:02] crisman opened #78 "Unclear "Category""
## Steps to Reproduce

1. On front page
2. Looking for electrical permit
3. Be confused about what category I should look in, where is the building permit category?

## Expected Behavior

"Filter by Business Category" or "Filter by Business Type"

## Actual Behavior

"Filter by Category" is not clear on what category domain we are in.

[2016-11-30 00:09] crisman opened #79 "Business types not clickable"
## Steps to Reproduce

1. Click on SERVICES under "Filter by Categories"
2. Scan down on left
3. Click SALON in the list of businesses

## Expected Behavior

Limit right side of page to the SALON list
OR
scroll page to the SALON list on right

## Actual Behavior

No action on click

[2016-11-30 00:09] #36 closed, assigned to ajcrites

[2016-11-30 00:11] crisman commented on #78
Also above the search box "filtering by type" is unclear on what "type" means.

[2016-11-30 00:34] ajcrites opened #81 "Business Type permit list should be collapsible"
## Expected Behavior

Clicking on the business type title for a list of permits should expand/collapse the list of permits for that type.

[2016-11-30 00:38] ajcrites opened #82 "Deselect Business Category filter"
## Expected Behavior

When selecting a business category in the list on the left, the business types / permits appear.

You should also be able to click the same category again to deselect it and remove the list.

[2016-11-30 00:45] samanthawolfe opened #83 "New permits by business type table"
https://data.cityofgainesville.org/Economic-Development-Redevelopment/Permits-by-Business-Type/i9px-haju

[2016-11-30 00:46] samanthawolfe commented on #83
Let me know when I can delete the old dataset

[2016-11-30 01:04] #83 closed, assigned to Bjorn248, samanthawolfe

[2016-11-30 01:06] ajcrites commented on #82
![issue-82](https://cloud.githubusercontent.com/assets/1308273/20735618/3f42fda4-b66f-11e6-92b6-05a4c9a8ef54.gif)

[2016-11-30 01:16] #82 closed, assigned to ajcrites

[2016-11-30 04:37] Bjorn248 opened #87 "Make yarn install use --no-progress so that the travis build log is cleaner"
The travis build log is not designed to handle things like progress bars so let's disable it.

[2016-11-30 05:02] Bjorn248 commented on #12
Great progress on the new permit table today @samanthawolfe. Looking forward to seeing the permits table get the same kind of love!

[2016-11-30 05:04] Bjorn248 commented on #78
Agreed. The language should be made more precise. Business type and category are completely arbitrary terms that we just stole from the [SF permit locator ](https://businessportal.sfgov.org/permits-licenses). Let's talk about how we can make this more clear for the end user.

[2016-11-30 06:07] #81 closed, assigned to ajcrites

[2016-11-30 20:22] Bjorn248 commented on #12
@samanthawolfe I found a duplicate category. "General Service" vs "General Services". You can see it on the live dev site now.

[2016-12-01 03:08] #87 closed, assigned to nobody

[2016-12-01 03:14] #76 closed, assigned to jgardner34

[2016-12-02 18:19] Bjorn248 commented on #79
@crisman Is this resolved? I think it is.

[2016-12-05 18:12] hollymariegibbs commented on #31
@samanthawolfe is it too casual to refer to someone at the Department of Doing as a 'Do-er'?

[2016-12-05 18:15] hollymariegibbs commented on #32
@samanthawolfe Can you provide me with the city logo as a transparent PNG please? Also is the teal color correct? Just want to double check.

[2016-12-05 18:31] Bjorn248 commented on #42
@samanthawolfe is this resolved in the latest version of the site?

[2016-12-06 17:13] samanthawolfe commented on #51
This has been established @Bjorn248. What additional info do you need and where should I place it?

[2016-12-06 17:18] samanthawolfe commented on #42
Yes; I think so.

[2016-12-06 17:18] #42 closed, assigned to ragafoo

[2016-12-06 17:31] samanthawolfe commented on #31
No, I don't think so but will you provide the context?

[2016-12-06 17:43] samanthawolfe commented on #32
Yes, it is a teal-ish color. Feel free to use it in a black & white version if that fits best. I've requested a transparent version.

[2016-12-06 18:01] samanthawolfe commented on #32
![ideo blue city gnv_logo](https://cloud.githubusercontent.com/assets/19419412/20937233/08c6c54a-bbb4-11e6-8271-c285d2b5b9a1.png)

[2016-12-06 18:01] Bjorn248 commented on #51
Can you shoot me an email with my own credentials to log in? bjorn248@gmail.com

[2016-12-06 18:06] samanthawolfe commented on #51
Do you need access to the AWS Management Console or just programmatic access?

[2016-12-06 18:08] samanthawolfe commented on #51
![image](https://cloud.githubusercontent.com/assets/19419412/20937443/067bff5c-bbb5-11e6-80c2-6844ff5db60a.png)

[2016-12-06 18:13] Bjorn248 commented on #51
Both would be ideal. I would like the ability to create new users for API access in addition to using the console to monitor the state of things.

[2016-12-06 18:37] samanthawolfe commented on #51
Sent to your email.

[2016-12-07 23:13] hollymariegibbs opened #93 "Double scroll bar"
## Steps to Reproduce

1. View site

## Expected Behavior

When scrolling, we want to see only one scroll bar.

## Actual Behavior

User currently sees two scroll bars.

[2016-12-07 23:29] Bjorn248 commented on #51
Once we get the permissions issue resolved we can close this. Almost there :)

[2016-12-08 00:33] hollymariegibbs commented on #38
Specs are here: https://www.dropbox.com/sh/fcm6w8d2rkrct64/AACyIGU8wq2LC5Sd8MSAzo_ua?dl=0

Holler if anything is janky

[2016-12-08 00:39] #34 closed, assigned to hollymariegibbs, jgardner34

[2016-12-08 00:41] hollymariegibbs opened #95 "update header bg image"
Change image to lady walking

[2016-12-08 00:42] samanthawolfe commented on #31
I saw the preview and it looks amazing! They are calling do-er's "Action Officers" so that may work better.

[2016-12-08 01:24] Bjorn248 opened #98 "Header image should be SVG"
We'd like that infinite zoom

[2016-12-08 01:25] hollymariegibbs commented on #98
@Bjorn248

Dat base64 code:

[code]

[2016-12-08 01:59] #95 closed, assigned to hollymariegibbs

[2016-12-08 16:04] Bjorn248 commented on #93
@hollymariegibbs this is fixed right?

[2016-12-08 16:05] #79 closed, assigned to nobody

[2016-12-13 03:05] #93 closed, assigned to nobody

[2017-01-05 00:13] Bjorn248 commented on #51
@samanthawolfe we're using your AWS account now! Migration complete. I'll close this ticket now.

[2017-01-05 00:13] #51 closed, assigned to Bjorn248, samanthawolfe

[2017-01-05 17:48] gotoplanb opened #100 "Build full-text search"
- Should search all available fields (title, categories, description, etc).
- Results should show the name and link to any permit that include a search match.

[2017-01-25 00:38] samanthawolfe opened #101 "As a user, I want to view permits in groupings of required and conditionally required"
## Steps to Reproduce

1. After clicking on business type, the permits should be displayed in two groupings.
2. First grouping should be "required."
3. The second grouping, below the first, should be "conditionally required."

[2017-01-25 01:21] samanthawolfe commented on #14
Workflow and links to resources https://docs.google.com/document/d/1Sjo6M_F81wyHLzpaXwRcxQNgfSk4WaH6pyM0Nw8aJ0A/edit?usp=sharing

[2017-01-25 01:42] samanthawolfe commented on #98
Enlarge the logo so the text is more legible. What about an image that is more clearly a storefront? Love the bold yellow!

[2017-01-27 21:48] Bjorn248 commented on #37
@hollymariegibbs I think I'm ready to at least add the button links to view/download the permits. Are these image assets somewhere or are they yet to be made? Or should I make them? Forgive me I'm new to this.

[2017-02-02 21:23] Bjorn248 commented on #37
SVGs for reference
https://www.dropbox.com/s/2pvkt6sbci0rts7/noun_831983.svg?dl=0

https://www.dropbox.com/s/3s16ubumas6suny/noun_836283.svg?dl=0

[2017-02-09 06:15] Bjorn248 commented on #37
This might be completed thanks to @firoze. Thoughts on completion status @hollymariegibbs?

[2017-02-09 06:16] Bjorn248 commented on #101
This should be complete, will await final sign off from @samanthawolfe

[2017-02-09 06:17] #59 closed, assigned to ajcrites

[2017-02-09 16:05] hollymariegibbs commented on #37
How do I view the current state of things?

[2017-02-09 16:07] Bjorn248 commented on #37
@hollymariegibbs http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/

[2017-02-09 20:32] Bjorn248 commented on #37
@hollymariegibbs said we could close this ^_^

[2017-02-09 20:32] #37 closed, assigned to Bjorn248, firoze

[2017-02-15 23:28] Bjorn248 commented on #100
Duplicate of #33

[2017-02-15 23:28] #100 closed, assigned to firoze

[2017-02-15 23:29] Bjorn248 commented on #33
* Should search all available fields (title, categories, description, etc).
* Results should show the name and link to any permit that include a search match.

[2017-02-16 00:05] samanthawolfe commented on #101
Yep!

[2017-02-16 00:05] #101 closed, assigned to Bjorn248

[2017-02-16 00:27] hollymariegibbs commented on #32
cc @ajcrites

[2017-02-16 00:27] hollymariegibbs commented on #31
cc @ajcrites

[2017-02-16 00:39] samanthawolfe commented on #78
Can we add another option to filter by permit?

[2017-02-16 00:45] ajcrites commented on #31
@hollymariegibbs can you link directly to the designs for the updated header when they are ready?

[2017-02-16 00:54] samanthawolfe opened #105 "Add third button for online submission of permits"
## Steps to Reproduce

1. Next to view and download buttons, add a pencil type icon for permits that have an option for submitting online

## Actual Behavior

(Explain what actually happens.)

[2017-02-16 00:58] samanthawolfe commented on #105
Added new column, Online Submission, in permit table dataset.

[2017-02-16 01:07] hollymariegibbs commented on #38
Links:

ABOUT THIS SITE
- Code for Gainesville: http://c4gnv.com/
- Code for America: https://www.codeforamerica.org/
- City of Gainesville: http://www.cityofgainesville.org

GET ASSISTANCE
- Department of Doing: **No link yet**
- Business USA: https://business.usa.gov/
- Center for Innovation & Economic Development: http://www.sfcollege.edu/cied/
- Gainesville Technology Entrepreneurship Center:

[2017-02-16 01:12] hollymariegibbs commented on #31
no

[2017-02-16 01:16] ajcrites commented on #38
In progress on the footer branch. Will await to complete when I get the remaining links.

[2017-02-16 01:43] gotoplanb opened #106 "wireframes and/or composites for static content pages"
- Each page is going to just be a components with some content.
- Nav bar is like trailhead with circle and active page larger circle
- Splash page is big image of a store, "open for business", and CTA to the first step.
- Samantha has all the content

[2017-02-16 01:48] Bjorn248 opened #107 "Make sure business type name is above the permits list"

[2017-02-16 01:50] #106 closed, assigned to gotoplanb

[2017-02-16 01:51] gotoplanb commented on #106
Duplicate of #14

[2017-02-16 01:51] gotoplanb commented on #14
- Each page is going to just be a components with some content.
- Nav bar is like trailhead with circle and active page larger circle
- Splash page is big image of a store, "open for business", and CTA to the first step.
- Samantha has all the content

[2017-02-17 15:20] Bjorn248 commented on #105
@samanthawolfe there should be another column with the URL for the online submission right? Two new columns?

[2017-02-17 15:36] Bjorn248 commented on #78
Sure, we can do anything, just need to flesh out the details with our experience designer @hollymariegibbs. I like the idea of giving people options when browsing the permits.

[2017-02-21 15:31] Bjorn248 commented on #106
Links to resources provided by @samanthawolfe https://docs.google.com/document/d/1Sjo6M_F81wyHLzpaXwRcxQNgfSk4WaH6pyM0Nw8aJ0A/edit?usp=sharing

[2017-02-21 15:34] samanthawolfe commented on #14
I've talked further with Department of Doing folks. Here is something created by IDEO to explain the starting and growing your business workflow. https://www.dropbox.com/home/User-Centered%20Gainesville/04%20-%20deliverables/04%20Final%20Presentation%20Materials/Service%20BluePrint?preview=Service+BluePrint.pdf
DoD is going to create paper visuals for distribution and would like the biz portal wor

[2017-02-21 15:35] samanthawolfe commented on #14
Screenshot of specific reference:
![image](https://cloud.githubusercontent.com/assets/19419412/23171746/6707ee32-f821-11e6-9040-1daf8b8a90dc.png)

[2017-02-21 15:35] samanthawolfe commented on #14
Here's a complete dropbox folder which may contain visual assets needed... https://www.dropbox.com/home/User-Centered%20Gainesville/04%20-%20deliverables/04%20Final%20Presentation%20Materials/Service%20BluePrint

[2017-02-21 17:41] gotoplanb commented on #14
@samanthawolfe the Dropbox link is broken for me

[2017-02-21 22:20] samanthawolfe commented on #14
@gotoplanb Try this - https://www.dropbox.com/sh/afm383ob9lkr7p1/AADtPBYY06X_Pxq-g5phdBPGa?dl=0

[2017-02-21 23:16] ajcrites commented on #107
@Bjorn248 can this be closed?

[2017-02-21 23:25] ajcrites opened #109 "Add ability to filter multiple business types at once"
## Expected Behavior

Currently you can only select one business type at a time to show permits for. In the SF Permit Locator you can select multiple at a time (toggling them on and off). You can also toggle multiple types in the accordion at once.

## Actual Behavior

Similar to the SF Permit Locator portal you should be able to toggle multiple business categories open in the filter at once. You

[2017-02-21 23:27] ajcrites opened #110 "Add section for "Applicable to all businesses""
Currently the home screen is largely blank. If it does not conflict with future designs, we can provide a section for "Applicable to all businesses" if there are any permits required by all businesses.

- [x] Confirm that there are some permits required by all business types
- [x] Display this list in an applicable section on the homepage.

[2017-02-21 23:31] ajcrites opened #112 "Complete links for Footer"
Update these footer links"

* [x] Disclaimer
* [x] Privacy Policy
* [x] Accessibility

Move a couple header links to the footer and also make 'em go somewhere:

* [x] About
* [x] Contact

Also the email icon directs to the contributing guidelines but it should probably be used for some method of contact.

[2017-02-22 00:18] Bjorn248 commented on #107
@hollymariegibbs can you add the comp with the `Required:` that we talked about?

[2017-02-22 00:40] Bjorn248 opened #113 "Get rid of business categories"
Display only a large list of business types when "Business Type" is expanded.

[2017-02-22 01:23] #105 closed, assigned to ajcrites

[2017-02-22 01:23] #109 closed, assigned to ajcrites

[2017-02-22 02:06] Bjorn248 opened #118 "Investigate why the animate out is broken in the permit locator"

[2017-02-22 05:08] Bjorn248 commented on #33
Search is half-functional right now thanks to #117, however, we still need to implement permit search.

We also need to talk through the UX for that. It's really not clear right now.

[2017-02-22 15:06] gotoplanb commented on #14
@samanthawolfe Did any other conversation happen after I left that would invalidate my wireframes? We can later change the number of navigation items and aesthetic, but at the core are we still good with:

* Creating a global header
* Creating a global navigation bar
* Creating a content-only page template to be used for all of the other business phases for now?
* Create routes for all the content

[2017-02-22 15:12] Bjorn248 commented on #14
@gotoplanb I believe that @hollymariegibbs wants to push for a material design style table of contents, as seen here [https://material.io/guidelines/](https://material.io/guidelines/) when you click on the hamburger menu, having them as a numbered list to display order, and also having it always be visible. I don't have too many strong feelings about which one we choose, but the table of contents

[2017-02-22 15:15] gotoplanb commented on #14
Reassigned to @hollymariegibbs to take it from here. I won't create any tickets yet for content pages or global header+nav.

[2017-02-22 16:23] Bjorn248 opened #121 "Add nicer loading screen"
Right now we just have the "Loading..." text in the top left. We can make it better.

[2017-02-23 02:24] #118 closed, assigned to ajcrites

[2017-02-23 02:24] #113 closed, assigned to nobody

[2017-02-23 02:51] Bjorn248 opened #123 "Display count of Required and Conditionally Required Permits"
We just want to match the visual comps at this point.

[2017-02-23 02:51] firoze commented on #123
Could you link up the comps as well? I can't find it 😞 I can work on this later

[2017-02-23 02:52] Bjorn248 commented on #123
@firoze haha I'm about to submit the PR for this :p

[2017-02-23 02:53] firoze commented on #123
@Bjorn248 Oh nice!! Carry right on, then!

[2017-02-23 02:54] Bjorn248 commented on #123
@firoze #37 is the original issue with the comps

[2017-02-23 16:26] hollymariegibbs commented on #121
Do you need any visuals for this? @Bjorn248 @ajcrites

[2017-02-23 16:31] Bjorn248 commented on #121
I imagine so. It can only help.

[2017-02-23 16:32] hollymariegibbs commented on #14
I am working on mockups of this all. Have a meeting tomorrow with @samanthawolfe, the Buda team and Lila (Strategic Planning Manager) to iron out details and put together a plan for moving forward. This has significant integration with the Department of Doing's site and process, so we want to make sure we're moving in the right direction. Will report afterward.

[2017-02-23 16:51] hollymariegibbs commented on #98
I have a photo from the BUDA studio (lots of yellow and bright colors!) that Melanie is sending me. Will mock it up and see what you think once I get the image. @samanthawolfe

[2017-02-23 17:12] samanthawolfe commented on #112
@ajcrites @hollymariegibbs Do you guys need me to provided language/content for these three portions of the site? Here are some resources we developed for the dataGNV site, the open data portal. If you this is what you're looking for I work to develop something unique for this site. Accessibility - https://data.cityofgainesville.org/accessibility. Privacy Policy - https://data.cityofgainesville.or

[2017-02-23 20:02] hollymariegibbs commented on #112
We should be able to copy/paste directly from those sites unless they have site-specific content?

[2017-02-27 16:27] #123 closed, assigned to nobody

[2017-02-27 16:28] Bjorn248 commented on #78
This should be resolved by #113

[2017-02-27 16:28] #78 closed, assigned to nobody

[2017-02-27 16:29] Bjorn248 commented on #38
Continued in #112

[2017-02-27 16:29] #38 closed, assigned to ajcrites

[2017-02-28 14:19] Bjorn248 opened #125 "Make TurboTax inspired workflow"
TurboTax has a really great workflow for going through your taxes. We could probably come up with something similar for the business portal. The main themes are breaking the workflow down into sections and having guiding questions along the way with resources to help people get the answers they need even if they don't know the answer initially.

[2017-02-28 15:06] Bjorn248 commented on #125
Apparently Credit Karma has a similar service as well.

[2017-02-28 16:15] Bjorn248 opened #126 "Permit interaction button spacing is incorrect when 3 buttons are shown"
## Steps to Reproduce

1. Open the homepage
2. Select a business type
3. Find a permit with all 3 buttons to the right

## Expected Behavior

The three buttons should have the same spacing/size as they do when there are only two, as seen here, only with a third button added to the left.
<img width="965" alt="screenshot 2017-02-28 11 12 39" src="https://cloud.githubusercontent.com/assets/1063707/23

[2017-03-06 15:42] Bjorn248 commented on #33
@hollymariegibbs perhaps during the next meeting we can talk about this issue and how permit search will work?

[2017-03-08 23:15] ajcrites commented on #125
Wat?

[2017-03-08 23:26] #126 closed, assigned to ajcrites

[2017-03-08 23:57] ajcrites opened #128 "Scaffold routes and bare bones designs for Steps"
Related to #14

This task encompasses setting up and linking routes through the steps from the linked issue.

[2017-03-09 01:31] Bjorn248 commented on #107
Comps: https://www.dropbox.com/sh/svm8d6u4gh8rsyd/AABkdsAkiWVaZMaoF01YuEhta?dl=0&preview=Filter+Results.png

https://www.dropbox.com/sh/svm8d6u4gh8rsyd/AABkdsAkiWVaZMaoF01YuEhta?dl=0&preview=Form+directory.png

https://www.dropbox.com/sh/svm8d6u4gh8rsyd/AABkdsAkiWVaZMaoF01YuEhta?dl=0&preview=Home.png

https://www.dropbox.com/sh/svm8d6u4gh8rsyd/AABkdsAkiWVaZMaoF01YuEhta?dl=0&preview=Search+Results.

[2017-03-09 01:39] jgardner34 opened #131 "Add Next Step Section"
## Expected Behavior
Matching this comp, a Next Steps section appears under the search results with a link to booking a appointment with the Department of Doing.

https://www.dropbox.com/sh/svm8d6u4gh8rsyd/AABkdsAkiWVaZMaoF01YuEhta?dl=0&preview=Filter+Results.png

## Actual Behavior
Only search results appear

[2017-03-09 01:57] samanthawolfe opened #133 "Add Landing Page"
Landing page or a splash screen that resembles a storefront with glass windows with a "Welcome, we're open!" type of sign.
![image](https://cloud.githubusercontent.com/assets/19419412/23732569/d11629ac-0441-11e7-8f76-1349a462abc9.png)
![image](https://cloud.githubusercontent.com/assets/19419412/23732578/dcee63a2-0441-11e7-85f8-a68e2b1d66de.png)

[2017-03-09 03:46] Bjorn248 commented on #128
Our guide for the steps is this document https://docs.google.com/document/d/1Sjo6M_F81wyHLzpaXwRcxQNgfSk4WaH6pyM0Nw8aJ0A/edit

[2017-03-09 03:47] Bjorn248 commented on #121
Just made it a spinner for now...awaiting review.

[2017-03-09 16:27] Bjorn248 opened #134 "Permit Search UX"
How does a user search for permits? Where are the results displayed? The search currently supports business types, as seen here [http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com](http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/). Will permit search be the same kind of flow, just with a "Permits" under the "Business Types +/-" drop-down that lists all permits by default and only di

[2017-03-09 16:31] Bjorn248 commented on #14
@hollymariegibbs didn't want to create a duplicate of this issue, but this is the other issue we're waiting on UX for. @ajcrites already did some work regarding this in #129 that's a good starting point for the designs provided by @gotoplanb. Just need official word on this so we know exactly what the city expects from us here.

[2017-03-09 16:33] Bjorn248 commented on #134
Just realized this is a duplicate of #33, closing.

[2017-03-09 16:33] #134 closed, assigned to hollymariegibbs

[2017-03-09 19:54] Bjorn248 opened #135 "Add fork me github banner"
https://github.com/blog/273-github-ribbons

I think it'd be cool :3

[2017-03-09 22:37] Bjorn248 opened #136 "Cannot refresh site"
## Steps to Reproduce

1. Load the s3 site [http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/](http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/)
2. Refresh

## Expected Behavior

Site refreshes

## Actual Behavior

404 Not Found

I think this has to do with routes. Might have to change how angular 2 does routing. [https://angular.io/docs/ts/latest/guide/router.html#!#-hashlocation

[2017-03-09 22:40] #110 closed, assigned to nobody

[2017-03-10 15:39] #128 closed, assigned to nobody

[2017-03-10 15:40] #121 closed, assigned to ajcrites

[2017-03-10 15:44] Bjorn248 commented on #125
Also, [opencounter](https://opencounter.com/) uses a similar system of questions to guide a user through the workflow.

[2017-03-16 20:21] samanthawolfe commented on #133
Here's another example minus the bubbles
![capture 2](https://cloud.githubusercontent.com/assets/19419412/24016988/a4492716-0a64-11e7-8a8f-60a7b363ec0d.PNG)

[2017-03-21 20:26] ajcrites commented on #136
Another possibility: redirects for S3: http://stackoverflow.com/questions/16267339/s3-static-website-hosting-route-all-paths-to-index-html

[2017-03-21 22:37] #136 closed, assigned to nobody

[2017-03-21 22:50] ajcrites commented on #135
Github contributions / C4GNV is not a major focus on this site, so I think it would detract for non-technical people if we had a Github ribbon.

The odds of someone discovering this site externally and wanting to contribute on Github approach 0% in our estimation, so I don't think we need the banner.

[2017-03-21 22:50] #135 closed, assigned to nobody

[2017-03-21 22:53] ajcrites commented on #32
I believe this is done: http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/#/steps/1

[2017-03-21 22:53] #32 closed, assigned to samanthawolfe

[2017-03-21 22:59] Bjorn248 opened #138 "Hide global header, make #/permit-locator the default path"
Just tabling the global header (business portal) stuff for now so we can focus on the permit locator specifically.

[2017-03-21 23:16] Bjorn248 opened #140 "Clarify Conditionally Required Permits"
How do we communicate to the user if the conditionally required permit is relevant to them?

We need plain language / easy to understand descriptions for each condition. Also, is this relevant to permits themselves or just the business type + permit combination?

We are trying to determine how to display this information so that it is useful to the user. What does it mean to be conditionally requi

[2017-03-21 23:24] Bjorn248 opened #141 "Match visual comp for permit locator"
## Steps to Reproduce

1. Open permit locator

## Expected Behavior

Screen should look similar to https://www.dropbox.com/s/tbya202s37ydwi7/Form%20directory.png?dl=0. Note the following discrepancies
Find specs here: https://www.dropbox.com/sh/zisrb2jlew4jyru/AACf9LvWyg0pRLjc60K-9gtla/business-web/design?dl=0
1. "FORMS TO LAUNCH YOUR BUSINESS"
2. "Required Permits: <Business Type Name> (Number)"

[2017-03-21 23:39] Bjorn248 opened #142 "Add plain-text description to each permit in Socrata data set"
Almost every permit has "Test description of permit", e.g. "Development Plan Review". Before we can launch, each permit needs a plain-text description so the user knows what each permit is for.

[2017-03-21 23:49] hollymariegibbs opened #143 "Design search results view"
Need to display the following:
- Term the user searched for
- Relevant permits
- Relevant Business Types
- What happens once the user selects a result? Do they lose the search results?

[2017-03-21 23:56] #138 closed, assigned to ajcrites

[2017-03-22 00:49] Bjorn248 commented on #98
@hollymariegibbs could also use the SVG for this

[2017-03-22 01:11] Bjorn248 opened #144 "Make it so that only one business type can be selected at a time"
This was the original functionality and our UX designer has laid down the hammer saying that more than one business type should not be selectable at once.

[2017-03-22 02:37] Bjorn248 commented on #143
Another thing we might want to think about is that so far we've only had the flow for "selecting" a business type. Selecting a Permit has never happened, and we don't have the visuals for that kind of flow either.

[2017-03-22 04:45] Bjorn248 commented on #141
Now that is cool ^

[2017-03-22 13:42] Bjorn248 commented on #141
@hollymariegibbs we need the svg for the business portal logo included in the linked comp, I can't seem to find it.

[2017-03-29 01:19] samanthawolfe commented on #112
@hollymariegibbs & @Bjorn248 See links above. We can either directly link to these pages on the data portal or duplicate the pages on new pages on the business portal.

[2017-03-29 01:45] Bjorn248 commented on #141
@gotoplanb here's the SVG issue

[2017-03-29 02:04] Bjorn248 opened #146 ""Book an Appointment" button does not have target URL"
Need to get the target URL for this button from @samanthawolfe

[2017-03-29 02:11] #98 closed, assigned to Bjorn248, hollymariegibbs

[2017-03-29 02:23] gotoplanb commented on #141
@Bjorn248 I'm having trouble making the SVG right quickly -- fonts aren't being drawn correctly. Here are PNGs in case you need/want to keep moving. I'll try again with the fonts tomorrow.

![logo--business-portal](https://cloud.githubusercontent.com/assets/51855/24435726/0c790136-1405-11e7-9a29-c50514fa8ce0.png)

![logo--business-portal 2x](https://cloud.githubusercontent.com/assets/51855/2443572

[2017-03-29 04:26] Bjorn248 commented on #141
Still need to get it so that you can deselect a business type once it's selected (I broke this somehow). Also need to center the logo and the separation line below in the header (see comp). Feature branch should be referenced directly above this comment.

[2017-03-29 14:18] Bjorn248 commented on #144
This is somewhat addressed in #141 but there's currently a regression where the business type cannot be deselected.

[2017-03-29 16:16] gotoplanb opened #147 "Updated logo with SVG"
## Expected Behavior

Logo should be blue and SVG.

## Actual Behavior

Logo is yellow and PNG.

[2017-03-29 17:00] #147 closed, assigned to gotoplanb

[2017-03-30 20:09] samanthawolfe commented on #146
https://form.jotform.com/60775565475165

[2017-03-30 20:18] samanthawolfe commented on #133
@Bjorn248 Should this go to you, @gotoplanb or @ajcrites? Thanks!!

[2017-03-30 20:31] samanthawolfe commented on #140
Working to include a general description of why a permit is conditional, like the building permit app and home occupational licenses examples already included.

[2017-03-30 21:22] Bjorn248 commented on #133
It should go to a designer? I think there was some hesitation on my part to add a screen that we didn't find as useful as others. I'm personally fine adding anything to the site and relying on user feedback to tell us if it's good/bad, but the fact that we need a designer that can lead a central design vision forward remains true.

[2017-04-19 00:09] Bjorn248 opened #150 "Show global header"
The global header that was hidden by #138 should be reinstated, the individual pages that are reachable via the global header need to be styled (I believe there are currently 9 pages)

[2017-04-19 00:23] #107 closed, assigned to hollymariegibbs, jgardner34

[2017-05-09 22:26] #146 closed, assigned to nobody

[2017-05-09 22:32] gotoplanb commented on #141
:shipit:

[2017-05-09 22:32] #141 closed, assigned to nobody

[2017-05-09 22:37] gotoplanb commented on #133
Chatted with Firoze. At least to get the stuff working:

* [x] Add a home view
* [x] Add a home route
* [x] Insert this photo
* [x] Clicking photo goes to step 1 route
* [x] Set default route to load home route
* [x] Clicking logo sends to home route

[2017-05-09 22:37] gotoplanb commented on #14
:shipit:

[2017-05-09 22:37] #14 closed, assigned to hollymariegibbs

[2017-05-09 22:42] gotoplanb commented on #131
:shipit:

[2017-05-09 22:42] #131 closed, assigned to jgardner34

[2017-05-09 22:43] gotoplanb commented on #150
:shipit:

[2017-05-09 22:43] #150 closed, assigned to nobody

[2017-05-09 22:44] gotoplanb opened #154 "Additional styles for MVP"
* [x] Content pages need some beautification
* [ ] Add some sample content that is more like a story or article

[2017-05-09 22:46] gotoplanb opened #155 "Header styles"
* [ ] Nav items should have an active indicator
* [ ] Other styling as you see fit

[2017-05-09 22:48] ajcrites commented on #144
@Bjorn248 do we still want to do this?

[2017-05-09 22:49] gotoplanb commented on #144
@ajcrites Yeah seems like a good thing to at least try to fix if it's doable in an evening.

[2017-05-09 22:51] gotoplanb commented on #142
@samanthawolfe Nudge nudge. This isn't blocking us from working, but we'll need to spend some time collectively poking all the site with a stick to see what content needs to be updated in prep for golive.

[2017-05-09 23:02] ajcrites opened #156 "Remove ability to expand/collapse business types"
Currently you can expand or collapse the business types list menu. This isn't particularly useful, so we can remove this functionality.

[2017-05-09 23:23] gotoplanb commented on #31
@ajcrites We added in the newer header with that sweet, sweet blue house. Also moved the "next steps thing" to the bottom of permit locator view. We probably should be adding this to the bottom of some other steps as well.

:shipit:

[2017-05-09 23:23] #31 closed, assigned to samanthawolfe

[2017-05-09 23:27] gotoplanb opened #158 "Permit locator empty state"
* [x] Arrows pointing at things and telling you what to do
* [ ] Better still if we use SVG

<img width="854" alt="arrows" src="https://cloud.githubusercontent.com/assets/51855/25876776/7ef9d326-34ed-11e7-8e57-7267f6527c2e.png">

[2017-05-09 23:36] #156 closed, assigned to nobody

[2017-05-09 23:57] gotoplanb opened #160 "Subdomain setup"
* [ ] Create a subdomain to show the business portal
* [ ] Define a CNAME DNS record to the CloudFront distribution in front of our S3 bucket
* [ ] Enable TLS 1.2 between the subdomain and the app

[2017-05-10 00:06] gotoplanb commented on #133
@samanthawolfe We now have the start of a landing/home page. It's just an image for now that you can see at http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/#/home

I'm closing this current issue for setting up the home screen, but please do open an additional issue if you have ideas for what should be on the landing page.

[2017-05-10 00:06] #133 closed, assigned to Bjorn248, firoze

[2017-05-10 00:07] #112 closed, assigned to firoze, samanthawolfe

[2017-05-10 00:08] #144 closed, assigned to ajcrites

[2017-05-10 00:08] gotoplanb opened #162 "Content for routes linked from footer"
We'll want some reasonable content at these routes before we go live:

* [x] About
* [x] Contact
* [x] Disclaimer

[2017-05-10 00:10] gotoplanb commented on #162
@samanthawolfe Currently we have no content for these three pages. Let me know if you want any of these removed. Please paste in this here issue any content you'd like us to put on these pages (or links where you want them to go).

[2017-05-10 00:29] ajcrites opened #163 "Color steps in header to indicate link"
Selected header will be black.

Other headers will appear as links.

[2017-05-10 00:31] ajcrites commented on #163
Being completed alongside #155

[2017-05-10 00:31] #163 closed, assigned to nobody

[2017-05-10 00:31] gotoplanb commented on #154
I added placeholder HTML that I will soon style. (http://localhost:8080/#/steps/11)

[2017-05-10 00:50] #20 closed, assigned to nobody

[2017-05-10 00:51] gotoplanb commented on #33
We're only going to support "search by business" for the initial release. 🔨

[2017-05-10 00:51] #33 closed, assigned to jgardner34

[2017-05-10 01:00] Bjorn248 opened #165 "Make Conditionally Required Permits More Noticeable"
Currently when you are scrolling through your permits for the business type you've selected, there is no clear delineation between required and conditionally required permits. Probably just a simple styling change, perhaps making the headings bold or something /shrug

[2017-05-16 22:25] gotoplanb opened #166 "Content for various pages"
![6707ee32-f821-11e6-9040-1daf8b8a90dc](https://cloud.githubusercontent.com/assets/51855/26130953/2cac3e74-3a65-11e7-9134-1f257addfd95.png)

Let's put the content in this here issue as comment. Just start a new comment for each page (e.g. Dream) and then paste in the text, images, URLs, etc that we should include.

* [x] Dream
* [x] Plan
* [x] Finance
* [x] Legalize
* [x] Brand
* [x] Search
* [x]

[2017-05-16 22:48] gotoplanb commented on #158
Using font-awesome since we already have it loaded.

[2017-05-17 00:14] gotoplanb opened #168 "Add business description column to the open data portal"
It would be super lovely to be able to have a 1- to 3-sentence description of a business to be able to show on the permit locator.

@samanthawolfe Can you add this column to the open data portal, or show me how to do it?

[2017-05-17 00:16] gotoplanb commented on #158
:shipit:

[2017-05-17 00:16] #158 closed, assigned to gotoplanb

[2017-05-17 00:17] samanthawolfe commented on #168
Yep, can do @gotoplanb. Can you give me an example of what you're thinking? Like a couple sentences for every business type?

[2017-05-17 00:23] gotoplanb commented on #168
@samanthawolfe Totally copying from Wikipedia just to give an example of what I'm thinking for a business description:

"An assisted living residence or assisted living facility (ALF) is a housing facility for people with disabilities or for adults who cannot or chose not to live independently. The term is popular in the United States but is similar to a retirement home in the sense that facilitie

[2017-05-17 00:28] gotoplanb opened #171 "Add a panel menu for phone breakpoint"

[2017-05-17 00:35] gotoplanb opened #173 "Mobile footer be less bad"
Making each column go full width on phone.

[2017-05-17 00:50] gotoplanb commented on #165
:shipit:

[2017-05-17 00:50] #165 closed, assigned to gotoplanb

[2017-05-17 00:59] gotoplanb commented on #173
🐿

[2017-05-17 00:59] #173 closed, assigned to gotoplanb

[2017-05-17 11:34] gotoplanb opened #177 "landing page content and styles"
Landing page needs to be more inviting. I'll make it so.

[2017-05-17 14:10] Bjorn248 commented on #155
This is probably done unless we want to also include making the header responsive in this issue...thoughts @gotoplanb ?

[2017-05-17 14:45] gotoplanb commented on #155
@Bjorn248 Close it. We'll do mobile stuff in different tickets.

[2017-05-17 14:45] #155 closed, assigned to jgardner34

[2017-05-17 14:49] Bjorn248 opened #178 "Make header mobile-friendly"
Just adding some of that sweet responsiveness. I know firoze was already working on this.

[2017-05-23 23:18] Bjorn248 commented on #168
@samanthawolfe a column in this table should do the trick: [https://data.cityofgainesville.org/Economic-Development-Redevelopment/Permits-by-Business-Type/i9px-haju/data](https://data.cityofgainesville.org/Economic-Development-Redevelopment/Permits-by-Business-Type/i9px-haju/data). I can't seem to edit the data to add test descriptions. Perhaps a valid column title would be `business_description`.

[2017-05-24 00:43] Bjorn248 opened #182 "Break out steps articles into separate HTML documents"
Just trying to organize the HTML to not have all those dense articles in one giant HTML document. This is for the steps articles.

[2017-05-24 01:02] gotoplanb commented on #177
🔨

[2017-05-24 01:02] #177 closed, assigned to gotoplanb

[2017-05-24 01:03] gotoplanb commented on #178
🔨

[2017-05-24 01:03] #178 closed, assigned to firoze

[2017-05-24 01:03] gotoplanb commented on #171
🔨

[2017-05-24 01:03] #171 closed, assigned to firoze

[2017-09-12 18:44] samanthawolfe commented on #168
New column added to this table: https://data.cityofgainesville.org/Strong-Economy/Permits-by-Business-Type/w5ec-qx4j/data. Description input in the third row (for Ad Agency) to test integration. Working to update other business types.

[2017-09-12 18:50] samanthawolfe commented on #166
SEARCH content page - https://docs.google.com/document/d/1UVAt1Xb2H1kO7zKT9fbmTk_-XPcJ32d6mZ2U878-FYM/edit?usp=sharing

Should be routed to the Zoning Portal website here: https://zoning.cityofgainesville.org/. Is it possible to have an easy connection/link back to the Business Portal?

[2017-09-12 18:52] samanthawolfe commented on #166
Shape - Should be the Permit Locator. We are ok with calling it Permits or something similar, rather than Shape.

[2017-09-12 18:59] Bjorn248 commented on #166
Remember to see the current state of affairs here http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/#/home. As you can see,  Shape and Permit are two separate things according to the current live site. So the instruction here is to get rid of "Shape" and just move "Permit" to take its place?

[2017-09-12 19:19] samanthawolfe commented on #166
Yes, "Permit" should be "Shape".

[2017-09-12 19:29] samanthawolfe commented on #162
Let's remove GET ASSISTANCE. I think this content will be well covered in each step of the business process.

[2017-09-12 19:30] samanthawolfe commented on #162
ABOUT - Let's move the current ABOUT THIS SITE in the footer to the ABOUT page. Also, let's include the Github links and contributions guidelines on the ABOUT page.
![image](https://user-images.githubusercontent.com/19419412/30344444-53ff5c3c-97cf-11e7-98d6-7bb8a8ef9dbf.png)
![image](https://user-images.githubusercontent.com/19419412/30344451-599fa962-97cf-11e7-961a-36056ac62d84.png)

[2017-09-12 19:39] samanthawolfe commented on #162
CONTACT - Change to NEXT STEPS.
Content:

- SCHEDULE A FIRST-STEP APPOINTMENT WITH THE DEPARTMENT OF DOING (remove the Next Steps section at the end of each permit search result; add to new centralized page)
![image](https://user-images.githubusercontent.com/19419412/30344618-0b5d088e-97d0-11e7-8575-1b2a7abec4e2.png)

- TALK WITH THE ECONOMIC DEVELOPMENT DIRECTOR
Erik Bredfeldt, Pd.D.
Telephone: 3

[2017-09-12 19:45] samanthawolfe commented on #162
DISCLAIMER - Remove
TERMS OF SERVICE - Should we create something like this (https://socrata.com/terms-of-service/)?
ACCESSIBILITY - Is this applicable to this site (https://socrata.com/accessibility/)? Can anyone help determine if the business portal will be accessible?
PRIVACY POLICY - Can we create a new page on the business portal and copy this info (https://data.cityofgainesville.org/privacy)

[2017-09-12 19:48] samanthawolfe commented on #162
General idea is for a simpler, smaller footer.

[2017-09-12 19:50] samanthawolfe commented on #143
Can we REFINE YOUR RESULTS by Business Types and PERMIT NAME? With both being some type of drop-down or smaller scrolling box, rather than a long list?

![image](https://user-images.githubusercontent.com/19419412/30345177-253bbae6-97d2-11e7-93f3-fdf4f865a8e0.png)

[2017-09-23 18:00] samanthawolfe commented on #166
Master Working Document
https://docs.google.com/document/d/1WFz1_CpWq5nvWQFSf8coM3WozEDtIwkkZrFuE6AHMxA/edit?usp=sharing

[2017-09-23 18:02] samanthawolfe commented on #166
I'll post individual documents for each finalized content page

[2017-09-23 18:19] samanthawolfe opened #186 "Infographic for Service Diagram"
Ideas:

- New visual design of the service diagram as an infographic.

- Central navigation, overview of all the pages a user can navigate on the site.

Expected Behavior:

- One page, scroll through diagram

[Style Guide - Page Blueprints.pdf](https://github.com/c4gnv/business-web/files/1357001/Style.Guide.-.Page.Blueprints.pdf)
![service diagram](https://user-images.githubusercontent.com/1941941

[2017-09-23 18:42] samanthawolfe commented on #166
Content page design mock-up
![finance mobile](https://user-images.githubusercontent.com/19419412/31193836-3d0364ba-a913-11e7-8d96-37d14d23595a.png)
![finance](https://user-images.githubusercontent.com/19419412/31193837-3d04198c-a913-11e7-813f-617bb8705e43.png)
![hire mobile](https://user-images.githubusercontent.com/19419412/31193839-3d086032-a913-11e7-8f33-49f59f6d995e.png)
![pop out menu](https:

[2017-09-23 18:44] gotoplanb opened #187 "508 compliance fixes"
http://wave.webaim.org/report#/http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/

[2017-09-23 18:49] samanthawolfe opened #188 "Homepage Redesign"
Homepage visual designs for desktop & mobile & style guide.

[2017-09-23 20:34] kassidywallace commented on #186
Infographic/Portal Icons

- For use on all elements with icons

[Icons.zip](https://github.com/c4gnv/business-web/files/1326840/Icons.zip)

[2017-10-03 14:40] samanthawolfe commented on #166
DREAM content page - https://docs.google.com/document/d/1g0WcuXJ44AlYwsuKBq_Maa7fwJ0GzEbkDaBtNjmpqxg/edit?usp=sharing

[2017-10-03 15:02] samanthawolfe commented on #166
PLAN content page - https://docs.google.com/document/d/1FyuHk8BOgnjSGRsBy5ILJAldfRjE408S6-8frikFpZ4/edit?usp=sharing

[2017-10-03 21:07] samanthawolfe commented on #166
FINANCE content page - https://docs.google.com/document/d/1TWOJBA8XQKqfsRrIJ_O_aUO6ROBKFUe3Cy67r_Y99hM/edit?usp=sharing

[2017-10-04 14:20] samanthawolfe commented on #187
@gotoplanb Would this address potential accessibility issues that may be caused by color-blindness? Someone from our marketing team also suggested running things through a color blind simulator like http://www.color-blindness.com/coblis-color-blindness-simulator/.

[2017-10-04 17:29] gotoplanb commented on #187
@samanthawolfe Yep, we should definitely use a color-blindness simulator in the future. I'm not going to both with the current design, but we should do so as new design is implemented.

[2017-10-04 17:31] tillydray opened #192 "broken link in CONTRIBUTING.md"
https://github.com/c4gnv/business-web/projects/1 results in a 404. This link is in [Project Board](https://github.com/c4gnv/business-web/blob/develop/CONTRIBUTING.md#project-board). I don't know where to point the link otherwise I'd fix it myself.

[2017-10-04 17:33] tillydray opened #193 "Hovering over navbar items doesn't change cursor to pointer"
## Steps to Reproduce

1. Go to http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/#/home
2. Hover over the navbar images
3. Cursor will not change to a pointer unless you hover over the text in the navbar item

## Expected Behavior

I expect my cursor to become a pointer when hovering over anything clickable.

## Actual Behavior

My cursor does not become a pointer when hovering over the cl

[2017-10-04 17:34] Bjorn248 commented on #192
Oh that's strange, I wonder if github deprecated that feature. I'll ask around to figure out what happened. Maybe @gotoplanb knows?

[2017-10-04 17:35] tillydray commented on #193
I will work on this, it'll only take a minute, but I can't assign myself or anyone else otherwise I would.

[2017-10-04 17:37] Bjorn248 commented on #193
Should be a simple css fix, `cursor: pointer` for the element should do it right?

[2017-10-04 17:38] ajcrites commented on #193
Yeah

[2017-10-04 20:00] samanthawolfe commented on #166
LEGALIZE content page - https://docs.google.com/document/d/1GKSRgwKO7lyFDZdRIXttQHxGALyANetLtoo0cKkqRCM/edit?usp=sharing

[2017-10-04 20:22] samanthawolfe commented on #166
BRAND content page - https://docs.google.com/document/d/1hsIYSrImjRnUgSNvKG0d9WbczbLMy46MbefmRybus0Q/edit?usp=sharing

[2017-10-10 13:48] samanthawolfe commented on #193
Also, the same behavior occurs when hovering over of the Business Portal logo to return home.

[2017-10-10 13:51] Bjorn248 opened #196 "Top menubar icons not found"
## Steps to Reproduce

1. Visit [http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/#/permit-locator](http://bdev.c4gnv.com.s3-website-us-east-1.amazonaws.com/#/permit-locator)
2. Note the missing icons in the top menu bar

## Expected Behavior

Icons should be visible

## Actual Behavior

<img width="982" alt="screenshot 2017-10-10 09 50 03" src="https://user-images.githubusercontent.com/10

[2017-10-10 13:52] Bjorn248 commented on #193
The original issue was fixed with https://github.com/c4gnv/business-web/pull/194, however, I will leave this open so we can address the issue @samanthawolfe pointed out as well.

[2017-10-10 13:52] samanthawolfe opened #197 "Icons representing each step in the process not displaying"
## Steps to Reproduce

1. Visit homepage and any content page
2. Icons do not display

## Expected Behavior

View each icon, that is clickable, and links to a content page.

## Actual Behavior

Icon image is not displaying.

![image](https://user-images.githubusercontent.com/19419412/31390011-bad7d006-ada0-11e7-8314-6b5d12c1087a.png)

[2017-10-10 13:53] Bjorn248 commented on #197
Duplicate of #196, closing

[2017-10-10 13:53] #197 closed, assigned to jgardner34

[2017-10-10 13:53] samanthawolfe commented on #197
You are a step ahead of me, @Bjorn248!

[2017-10-10 13:54] samanthawolfe commented on #196
@jgardner34 Would you like new version of the icons? This is something we could help with. Let me know the correct size needed.

[2017-10-10 13:59] Bjorn248 commented on #196
@samanthawolfe I think the icons are present in the repository, but they aren't getting loaded. We'll have to look into this no matter what but I do not believe the issue is lack of icons. It is likely a build issue.

[2017-10-10 14:05] samanthawolfe opened #198 "Improve navigation of filtering by business type in mobile version of Permit Locator"
## Steps to Reproduce

1. While visiting the mobile version, select a business type
2. Selected type turns bold & blue

## Expected Behavior

As when using the search bar, when selecting a business type, the remaining list should condense or disappear.

## Actual Behavior

The selected business type turns blue & bold, which is not clear to the user the selection was successful. User then has to sc

[2017-10-10 14:38] samanthawolfe opened #199 "Add new users to Dropbox"
Please add wolfesb@cityofgainesville.org and WallaceKL@cityofgainesville.org to the Dropbox folder (https://www.dropbox.com/sh/zisrb2jlew4jyru/AACReOBxUmW6FY2ogxVFaAmVa?dl=0) for adding design content.

[2017-10-10 15:02] tillydray commented on #193
Working on it right now.

EDIT: Just made PR #200 to address what Samantha brought up.

[2017-10-10 15:13] tillydray commented on #196
When doing `npm start`, I'm getting `webpack: Failed to compile.` preceded by a lot of errors. Could be that I'm doing something wrong, but I'm wondering if these issues have the same root cause (a build issue).

[2017-10-10 15:16] ajcrites commented on #196
@JasonMFry not sure if this would make a difference, but can you try using `yarn` instead of `npm`? Also `rm -rf node_modules; yarn install` first.

[2017-10-10 15:24] tillydray commented on #196
@ajcrites that fixed it, thanks! I thought I used `npm` last week and it worked, but maybe not.

[2017-10-15 14:22] Bjorn248 commented on #199
I believe that was Holly's. Should we move to something else @gotoplanb?

[2017-10-15 19:40] jgardner34 commented on #193
This looks to be completed and 👍 , marking as closed

[2017-10-15 19:40] #193 closed, assigned to tillydray

[2017-10-16 13:58] gotoplanb commented on #199
@Bjorn248 I suggest we enable the wiki repo for `business-web`, and then we keep assets there. What say you?

[2017-10-16 14:07] Bjorn248 commented on #199
Seems like a good plan to me

[2017-10-17 17:30] samanthawolfe commented on #199
Sounds good to me. How do we navigate there to provide assets?

[2017-10-17 18:06] gotoplanb commented on #199
@samanthawolfe There isn't a good visual interface for adding images to the wiki -- it requires us add files to some local folder then push up via git commands. The wiki will be a nice place for people to get/read files. For uploading new stuff, I think you should just upload via Slack, then either @Bjorn248  or I can shove into the wiki

[2017-10-17 18:21] Bjorn248 commented on #199
You can also upload images directly to issues

[2017-10-18 19:19] samanthawolfe commented on #199
Kassidy has been working in Sketch and has some deliverables ready. Is through Slack still the best way? Or, should we set-up a new dropbox as it sounds like there will be layers of folders and assets.

[2017-10-18 19:21] gotoplanb commented on #199
@samanthawolfe Let's go with Slack delivery for now. Going forward, we might consider using InVision since a) public share URLs, b) any contributor can invite other contributors, c) great handling of both mockups and raw assets, d) super interoperability with Sketch files.

[2017-10-18 19:29] Bjorn248 commented on #199
What's wrong with using issues? I guess slack or github is fine, but on github I don't think there are content limits?

[2017-10-18 20:01] gotoplanb commented on #199
@Bjorn248 You can only (afaik) attach images to issues. You cannot attach `.sketch` files and other sorts of assets.

[2017-10-18 20:02] gotoplanb commented on #199
@Bjorn248 I do agree though if the goal is to deliver specific images to resolve an issue, then GH Issues is the right way to go. If, however, we're trying to have longer-living design documentation, we'd need something else.

[2017-10-18 20:04] Bjorn248 commented on #199
@gotoplanb
[Untitled.zip](https://github.com/c4gnv/business-web/files/1396182/Untitled.zip)

There's a sketch file inside there :p

[2017-10-18 20:06] Bjorn248 commented on #199
Looks like they support the following extensions: gif, jpeg, jpg, png, docx, gz, log, pdf, pptx, txt, xlsx, zip

[2017-10-18 20:28] gotoplanb commented on #199
Oh awesome! This must be relatively new development! Okay, @samanthawolfe delivery via GH Issues inside a ZIP file please 😁

[2017-10-20 14:43] samanthawolfe commented on #199
Will do! Thanks!

[2017-10-25 18:27] kassidywallace commented on #188
Homepage Redesign Sketch + Assets

![desktop hd](https://user-images.githubusercontent.com/32228374/32015591-8367713a-b98f-11e7-8067-51a24613dd1d.png)

[Homepage Design 2.zip](https://github.com/c4gnv/business-web/files/1415713/Homepage.Design.2.zip)

Assets:
https://www.dropbox.com/s/x6yofuhnb1hg4l3/Homepage%20Assets.zip?dl=0

[2017-10-25 19:58] Bjorn248 commented on #196
So, I took a gander at this and it seems that the SVGs here aren't being translated/transferred to the `assets` directory like the rest of the static assets seem to be. Also the `src` urls that are normally changed if webpack is working properly are not being changed. These two lines are of interest here: https://github.com/c4gnv/business-web/blob/develop/app/app.component.html#L26 and https://git

[2017-10-30 15:52] Bjorn248 commented on #196
@samanthawolfe this is finally resolved

[2017-10-30 15:52] #196 closed, assigned to nobody

[2017-11-06 17:41] #199 closed, assigned to gotoplanb, Bjorn248

[2017-11-10 02:17] samanthawolfe opened #202 "Feature List & Timeline"
## Steps to Reproduce

1.
2.
3.

## Expected Behavior

(Explain what you expect to happen.)

## Actual Behavior

(Explain what actually happens.)

[2021-01-22 20:30] jamessmell commented on #192
@Bjorn248 can you let me know if this issue is still relevant or whether we can close it?

[2021-01-22 20:33] jamessmell commented on #198
@stetsonjn can you take a look at this one and let me know if its still relevant or whether we should close it?

[2021-01-22 20:34] stetsonjn commented on #198
this is an old project from the previous brigade. We can close it.

[2021-01-22 20:35] stetsonjn commented on #198
I can't close this.

[2021-01-22 20:35] jamessmell commented on #188
@stetsonjn is this still relevant?

[2021-01-22 20:37] jamessmell commented on #187
@stetsonjn thinking this is one to note as a good rule of thumb but can be closed. Can you confirm?

[2021-01-22 20:37] Bjorn248 commented on #192
@jamessmell This repo seems like it has been abandoned. I think we can close it.

[2021-01-22 20:40] Bjorn248 commented on #198
@stetsonjn @jamessmell You should both have permissions to manage these repos now.

[2021-01-22 21:12] jamessmell commented on #198
Closing

[2021-01-22 21:12] #198 closed, assigned to stetsonjn

[2021-01-22 21:13] jamessmell commented on #192
Closing

[2021-01-22 21:13] #192 closed, assigned to Bjorn248

[2021-01-22 21:17] stetsonjn commented on #198
mwwahahahaha. i have the power now.

[2021-01-25 13:41] stetsonjn commented on #188
No. This is from the previous project.

[2021-01-25 13:41] #188 closed, assigned to jgardner34

[2021-01-25 13:58] stetsonjn commented on #187
Great tool! Yes, let's close.

[2021-01-25 13:58] #187 closed, assigned to gotoplanb

[2021-01-26 01:31] Opeola commented on #187
Hey all - FYI, there are folks still subscribed to these GitHub notifications that are long gone from the Gainesville scene! Removing myself, but just flagging that y'all may want to review who's on!

[2021-10-28 17:29] #12 closed, assigned to samanthawolfe

[2021-10-28 17:29] #53 closed, assigned to nobody

[2021-10-28 17:29] #55 closed, assigned to nobody

[2021-10-28 17:29] #125 closed, assigned to nobody

[2021-10-28 17:29] #140 closed, assigned to samanthawolfe

[2021-10-28 17:29] #142 closed, assigned to samanthawolfe

[2021-10-28 17:29] #143 closed, assigned to nobody

[2021-10-28 17:29] #154 closed, assigned to gotoplanb, jgardner34

[2021-10-28 17:29] #160 closed, assigned to nobody

[2021-10-28 17:29] #162 closed, assigned to samanthawolfe

[2021-10-28 17:29] #166 closed, assigned to samanthawolfe

[2021-10-28 17:29] #168 closed, assigned to samanthawolfe

[2021-10-28 17:29] #182 closed, assigned to nobody

[2021-10-28 17:29] #186 closed, assigned to jgardner34